<h2>Upload Document</h2>
<div style="display:flex; padding: 8px;flex-wrap: wrap-reverse;">
    <div style="flex: 1; width: auto;" [ngStyle]="{display:isMobile()}">

        <div>
            Please upload an image of your document. Minimum 1 image and maximum 10 images  for each document.
        </div>

    </div>
    <div style="flex:1">
        <section>
            <div *ngFor="let d of docs; let i = index;">
                <h3>{{d.name}}</h3>
                <div style="display:flex">
                    <label [for]="'file' + i" class="custom-file-upload">
                        <mat-icon class="add">add_circle</mat-icon>
                        <div *ngIf="docs[i].uploading">{{ uploadPercent[i] | async | number: '1.0-0' }}% uploaded</div>

                    </label>
                    <input type="file" (change)="uploadFile($event, i)" [id]="'file' + i"/>
                    <div *ngFor="let u of docs[i].urls" >

                        <img class="thumbnail" [src]="u" (click)="download(u)">
                    </div>
                    
                </div>
            </div>
        </section>
    </div>

</div>