<div style="display:flex; padding: 10px;flex-wrap: wrap-reverse;">
    <div style="flex: 2;padding: 10px;">
        <h2>Upload Document</h2>
        <div>
            Please upload an image of your document. Minimum 1 image and maximum 10 images  for each document.
        </div>
        <div>
            <section>
                <br/>
                <button mat-raised-button color="primary" (click)="connect()">Start the non face to face session with
                    customer</button>
            </section>
        </div>
    </div>
    <div style="flex:1">
        <div>
            <div>
                <h3>Identification document</h3>
                <div><input type="file" /></div>
            </div>
            <div>
                <h3>Provisional receeipt</h3>
                <div><input type="file" /></div>
            </div>
            <div>
                <h3>FATCA form</h3>
                <div><input type="file" /></div>
            </div>
        </div>
    </div>

</div>