 .thumbnail {
 
 }

 .add {
     position: relative;
     top: 40px;
     
 }

 input[type="file"] {
    display: none;
}

.custom-file-upload{ 
    border: dashed black 1px;
    height: 100px;
    width: 120px;     
    font-weight: bold;
    display: block;
    text-align: center;
 
    color: red; 
}
 img {
    border: dashed black 1px;
    height: 100px;
    width: 120px;    
    position: relative;
    top: -30px;

 }

 