<ul>
    <li>
        <span><a routerLink="/">Basic information</a></span>
        <span class="tickicon"><i class="material-icons">check_circle</i></span>
    </li>
    <li>
        <span><a routerLink="/">Agreement</a></span>
        <span class="tickicon"><i class="material-icons">check_circle</i></span>
    </li>
    <li>
        <span><a routerLink="/">Disclosure</a></span>
        <span class="tickicon"><i class="material-icons">check_circle</i></span>
    </li>
    <li>
        <span><a routerLink="/doc" (click)="nav('doc');">Supporting documents</a></span>
        <span class="tickicon"><i class="material-icons">check_circle</i></span>
    </li>
    <li><span><a routerLink="/sign" (click)="nav('sign');">Signature</a></span>
        <span class="tickicon"><i class="material-icons">check_circle</i></span>
    </li>
    <li><span><a routerLink="/pay" (click)="nav('pay');">Payment details</a></span>
        <span class="tickicon"><i class="material-icons">check_circle</i></span>
    </li>
    <li>
        <span><a routerLink="/">Submission</a></span>
        <span class="tickicon"><i class="material-icons">check_circle</i></span>
    </li>

</ul>