<h2>Signatures</h2>

<mat-list>
    <mat-list-item><span class="material-icons">
            description
        </span><button mat-flat-button>Disclosure forms </button></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span class="material-icons">
            description
        </span><button mat-flat-button>Proposal</button></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span class="material-icons">
            description
        </span>
        <button mat-flat-button>Life Insurance Application form</button>
    </mat-list-item>
</mat-list>

<div style="display:flex; padding: 8px;flex-wrap: wrap-reverse;">

    <div style="display:flex;padding: 10px;margin: 10px; flex-wrap: wrap;">
        <div style="width:100%">
            <h4>Click box to sign</h4>
        </div>
        <div style=" padding: 10px; border: solid gray 1px ">
            <h3>Policy owner & insured</h3>
            <h2>Peter Chan</h2>
            <canvas id="insured" (click)="openDialog('insured', 'Peter Chan', 'Proposed Insured/Owner')"
                [ngStyle]="{'background-color': signs.insured?'white':'gray'}"></canvas>
            <div [ngStyle]="{'display': signs.insured?'':'none'}"  class="verify">
                <span class="material-icons" style="color:#00A758">
                    check_circle
                </span>Signed
            </div>
        </div>
        <div style=" padding: 10px; border: solid gray 1px">
            <h3>Financial Advisor</h3>
            <h2>Juan Dela Cruz</h2>
            <canvas id="agent" (click)="openDialog('agent', 'Juan Dela Cruz', 'Financial Advisor')"
                [ngStyle]="{'background-color': signs.agent?'white':'gray'}"  class="verify"></canvas>
            <div [ngStyle]="{'display': signs.agent?'':'none'}">
                <span class="material-icons" style="color:#00A758">
                    check_circle
                </span>Signed
            </div>
        </div>
    </div>
</div>